*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(2, 2, 51);
}
body{
    background-color: rgb(150, 47, 0);
}
body h1{
    text-align: center;
    font-size:20px;
    font-weight: bold;
    text-transform: uppercase;
}
main{
    background-color: rgb(163, 201, 235);
    width: 500px;
    margin: auto;
    padding: 3px 10px;
    border: currentColor rgb(105, 105, 107);
    border-radius: 10px;
}
article p{
    display:flex ;
    text-align: justify;
}
article img{
    margin: 0px 5px 0px 5px;
}

.html{
    float: right;
}