*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body{
    background-color: rgb(6, 1, 56);
}
main{
    background-color: rgb(163, 201, 235);
    width: 500px;
    margin: auto;
    box-shadow: 0px 3px rgb(0, 0, 0);
    padding: 3px 10px;
    border: currentColor rgb(105, 105, 107);
    border-radius: 10px;
}